---
import { storyblokEditable } from "@storyblok/astro";
import { Image } from "astro:assets";

const { blok } = Astro.props;

import MobilePlaceHolder1 from "../assets/images/placeholders/mobile-placeholder-1.png";
import MobilePlaceHolder2 from "../assets/images/placeholders/mobile-placeholder-2.png";
import MobilePlaceHolder3 from "../assets/images/placeholders/mobile-placeholder-3.png";
import MobilePlaceHolder4 from "../assets/images/placeholders/mobile-placeholder-4.png";
import DesktopPlaceHolder1 from "../assets/images/placeholders/desktop-placeholder-1.png";
import DesktopPlaceHolder2 from "../assets/images/placeholders/desktop-placeholder-2.png";
import DesktopPlaceHolder3 from "../assets/images/placeholders/desktop-placeholder-3.png";
import DesktopPlaceHolder4 from "../assets/images/placeholders/desktop-placeholder-4.png";
import LeftArrow from "../assets/images/left-arrow.svg";
import RightArrow from "../assets/images/right-arrow.svg";
---

<style>
    .projects-slider-section {
        padding: 4rem 1rem;
        border-top: 1px solid #DDDDDD;
    }

    .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.4rem;
    }

    .splide-arrows {
        position: static;
        transform: none;
        display: flex;
        gap: 1.2rem;
    }

    .latest {
        font-size: 1.8rem;
        line-height: 180%;
        color: #555555;
    }

    p.image-text {
        margin-bottom: 2.4rem;
        font-size: clamp(3rem, 2.857vw + 2.086rem, 3.2rem);
        color: #111111;
        line-height: 100%;
        font-weight: 700;
    }

    #slider-desktop {
        display: none;
    }

    .slide img {
        border-radius: 24px;
    }

    @media only screen and (min-width: 440px) {
        .slide img {
            aspect-ratio: 16 / 9;
            width: 100%;
        }
    }

    @media only screen and (min-width: 744px) {
        p.image-text {
            font-size: clamp(3.2rem, 2.857vw + 1.074rem, 4rem);
        }
    }

    @media only screen and (min-width: 1024px) {
        .projects-slider-section {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            padding: 0rem 8rem;
        }

        .slider {
            grid-column: span 2;

            padding-top: 8rem;
            padding-left: 8rem;
            padding-bottom: 8rem;

            border-left: 1px solid #DDDDDD;
        }

        .latest{
            margin-bottom: 4rem;
        }

        .info{
            flex-direction: column;
            margin-bottom: 0;

            padding-top: 8rem;
            padding-bottom: 8rem;
            justify-content: flex-start;
        }

        p.image-text.mobile {
            display: none;
        }

        #slider-desktop {
            display: block;
        }

        p.image-text{
            margin-bottom: 0;
            font-size: clamp(4rem, 5.769vw - 1.908rem, 6.4rem);
        }

        .splide-arrows{
            margin-top: auto;
        }


    }
</style>

<div class="projects-slider-section" {...storyblokEditable(blok)}>
    <div class="info">
        <p class="latest">Latest Projects</p>
        <section
            id="slider-desktop"
            class="splide my-slider"
            aria-label="Splide Basic HTML Example"
        >
            <div class="splide__track list">
                <ul class="splide__list">
                    <li class="splide__slide slide">
                        <p class="image-text">Robert Ventures</p>
                    </li>
                    <li class="splide__slide slide">
                        <p class="image-text">Vei Center</p>
                    </li>
                    <li class="splide__slide slide">
                        <p class="image-text">Iunick</p>
                    </li>
                    <li class="splide__slide slide">
                        <p class="image-text">MobileTread</p>
                    </li>
                </ul>
            </div>
        </section>

        <div class="splide-arrows">
            <button id="prev-arrow" class="splide-arrow">
                <Image class="image" src={LeftArrow} alt="Left Arrow" />
            </button>
            <button id="next-arrow" class="splide-arrow">
                <Image class="image" src={RightArrow} alt="Right Arrow" />
            </button>
        </div>
    </div>
    <div class="slider">
        <section
            id="slider"
            class="splide my-slider"
            aria-label="Splide Basic HTML Example"
        >
            <div class="splide__track list">
                <ul class="splide__list">
                    <li class="splide__slide slide">
                        <p class="image-text mobile">Placeholder 1</p>
                        <Image
                            class="image"
                            src={MobilePlaceHolder1}
                            alt="Placeholder 1"
                        />
                    </li>
                    <li class="splide__slide slide">
                        <p class="image-text mobile">Placeholder 2</p>
                        <Image
                            class="image"
                            src={MobilePlaceHolder2}
                            alt="Placeholder 2"
                        />
                    </li>
                    <li class="splide__slide slide">
                        <p class="image-text mobile">Placeholder 3</p>
                        <Image
                            class="image"
                            src={MobilePlaceHolder3}
                            alt="Placeholder 3"
                        />
                    </li>
                    <li class="splide__slide slide">
                        <p class="image-text mobile">Placeholder 4</p>
                        <Image
                            class="image"
                            src={MobilePlaceHolder4}
                            alt="Placeholder 4"
                        />
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>

<script>
    import Splide from "@splidejs/splide";

    const prevArrow = document.getElementById("prev-arrow");
    const nextArrow = document.getElementById("next-arrow");

    let splide = new Splide("#slider", {
        type: "loop",
        drag: true,
        arrows: false,
        pagination: false,
        perPage: 1,
        // autoplay: true,
        // interval: 6000,
        // speed: 1000,
    }).mount();

    let splide2 = new Splide("#slider-desktop", {
        type: "loop",
        drag: true,
        arrows: false,
        pagination: false,
        perPage: 1,
        // autoplay: true,
        // interval: 6000,
        // speed: 1000,
    }).mount();

    // Function to sync the movement of two carousels
    function syncCarousels(main, secondary) {
        main.on("move", (newIndex) => {
            secondary.go(newIndex);
        });
    }

    // Function to handle arrow click events
    function handleArrowClick(direction) {
        splide.go(direction);
        splide2.go(splide.index);
    }

    // Add event listeners for arrow buttons
    prevArrow.addEventListener("click", () => handleArrowClick("-1"));
    nextArrow.addEventListener("click", () => handleArrowClick("+1"));

    // Sync the carousels
    syncCarousels(splide, splide2);
    syncCarousels(splide2, splide);
</script>
